.venv
name_tag.png
ipaexm.ttf
name_tag.csv
name_tag.pdf
introduce.png
introduce.pdf
introduce_data.csv
__pycache__/
PngCards
name_plate.csv
name_plate.pdf
name_curtain.csv
name_curtain.pdf
name_curtain.png